[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
  ignore = untracked
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
  ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
  ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
  ignore = untracked
[submodule "bundle/haml-sass"]
	path = bundle/haml-sass
	url = https://github.com/tpope/vim-haml.git
  ignore = untracked
[submodule "bundle/transmit"]
	path = bundle/transmit
	url = https://github.com/brianegan/transmit-vim.git
  ignore = untracked
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
  ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
  ignore = untracked
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
  ignore = untracked
[submodule "bundle/html5"]
	path = bundle/html5
	url = https://github.com/othree/html5.vim.git
  ignore = untracked
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
  ignore = untracked
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
  ignore = untracked
[submodule "bundle/markdown-preview"]
	path = bundle/markdown-preview
  url = https://github.com/waylan/vim-markdown-extra-preview.git
  ignore = untracked
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
  ignore = untracked
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com:brianegan/vim-markdown.git
  ignore = untracked
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
  ignore = untracked
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
  ignore = untracked
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
  ignore = untracked
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
  ignore = untracked
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
  ignore = untracked
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
  ignore = untracked
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
  ignore = untracked
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
  ignore = untracked
[submodule "bundle/vim-handlebars"]
	path = bundle/vim-handlebars
	url = https://github.com/nono/vim-handlebars.git
  ignore = untracked
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
  ignore = untracked
[submodule "bundle/brogramming"]
	path = bundle/brogramming
	url = git://github.com/brianegan/Brogramming.git
  ignore = untracked
[submodule "bundle/ftl-vim-syntax"]
	path = bundle/ftl-vim-syntax
	url = https://github.com/NateW/ftl-vim-syntax.git
  ignore = untracked
[submodule "bundle/cssrefresh-vim"]
	path = bundle/cssrefresh-vim
	url = git://github.com/brianegan/cssrefresh-vim.git
  ignore = untracked
